[Unit]
Description=elalmirante-agent
ConditionPathExists=/opt/bin/elalmirante-agent
Requires=docker.service
After=docker.service

[Service]
Type=simple
User=core
Group=core

Restart=on-failure
RestartSec=10

WorkingDirectory=/home/core
ExecStart=/opt/bin/elalmirante-agent


[Install]
WantedBy=multi-user.target
